* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.grid {
    display: grid;
    height: 80vh;
    max-width: 800px;
    grid-template: 100% / 40% 60%;
    margin: 20px auto;
    padding: 20px;
    gap: 20px;
}
.contacts {
    background-color: #635baf;
    padding: 20px;
    color: white;
}
.contacts h3{
    margin-bottom: 15px;
}
form {
    width: 100%;
    height: 100%; 
}
form h3 {
    padding: 15px;
}
.flexForm {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

.flexLeft {
    width: 50%;
    padding: 5px;
}
.flexRight {
    width: 50%;
    padding: 5px;
}
label {
    width: 100%;
    height: 20px;
    margin-bottom: 10px;
}
input {
    width: 100%;
    height: 30px;
    padding: 5px;
    margin-bottom: 10px;
}
textarea {
    width: 100%;
}

input[type="submit"]{
    background-color: #635baf;
    padding: 10px;
    width: 100%;
    margin: 15px auto;
    border: none;
}


